html{
    height: 100%;
    font-size: 5%;
}
body{
    height: 100%;
    background: url("../../static/img/loginPage/loginBackground.jpg")  no-repeat fixed center center;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.formSec{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.formDiv{
    width: 30rem;
    height: 35rem;
    margin-top: 10rem;
    background: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.loginH{
    color: white;
    font-size: 50rem;
    font-family: 幼圆;
    margin-top: 2rem;
}
.loginForm{
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 2rem;
}
.usernameDiv{
    height: 35%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.passwordDiv{
    height: 35%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.loginBtn{
    height: 20%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#username{
    text-align: center;
    color: white;
    display: block;
    width: 70%;
    height: 35%;
    border: 0;
    border-radius: 2px;
    background: rgba(0,0,0,0.5);
}
#password{
    text-align: center;
    color: white;
    display: block;
    width: 70%;
    height: 35%;
    border: 0;
    border-radius: 2px;
    background: rgba(0,0,0,0.5);
}
#loginBtn{
    height: 85%;
    width: 30%;
    border: 0;
    cursor: pointer;
    font-size: 20rem;
    color: white;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
}
@keyframes move {
    0% {
        color: white;
        background: rgba(0,0,0,0.5);
    }
    50% {
        color: black;
        background: rgba(255,255,255,0.5);
    }
    100% {
        color: white;
        background: rgba(0,0,0,0.5);
    }
}
#loginBtn:hover{
    animation: move 2s;
    animation-timing-function: ease-in-out;
}
footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
footer p{
    float: right;
    color: white;
}